.no-hover-boxes {
    width: calc(100% - 17%);
    margin: auto;
    padding-top: 60px;
    color: var(--col-white);
    .container {
        
        margin: auto;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .acf-boxes-container {
        padding-left: 0;
        padding-right: 0;
        margin: auto;
    }
    .acf-box-title h4 {
        font-weight: var(--fw-900);
        text-transform: uppercase;
    }
    
    .acf-boxes-group {
        position: relative;
        margin-bottom: 20px;
    }
    
    .acf-boxes-row {
        display: grid;
        gap: 10px;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    .acf-box {
        position: relative;
        color: var(--col-white);
        padding: 20px;
        cursor: pointer;
        transition: background-color 0.8s ease-in-out;
        z-index: 0;
        min-height: 150px;
        text-align: left;
    }
    
    .dots {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .dots img {
        width: 10px;
        height: 30px;
    }
    
    .acf-box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--col-dark);
        opacity: 0.4;
        z-index: -1;
    }
    .acf-box:hover::before {
        background-color: var(--col-highlight);
        opacity: 0.7;
    }
    
    .acf-box-title h4 {
        text-align: left;
        font-size: var(--fs-200);
        margin: 0;
    }
    
    .acf-hover-content-row {
        width: 100%;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden; /* Prevents content overflow */
        background-color: rgba(228, 67, 152, 0.6);
        color: var(--col-white);
        padding: 0px 20px; /* Start with no padding */
        text-align: left;
        transition: max-height 0.8s ease-in-out, opacity 1s ease-in-out, padding 0.8s ease-in-out, visibility 0s linear 1s;
    }
    
    .acf-hover-content-row.active {
        opacity: 1;
        visibility: visible;
        padding: 20px!important;
        max-height: 1000px; /* Ensure enough height for all content */
        overflow: hidden; /* Keeps animation smooth */
        background-color: rgba(228, 67, 152, 0.5);
    }
    
}

@media (max-width: 768px) {
    .boxes {
        .acf-boxes-row {
            grid-template-columns: 1fr;
        }
        .acf-hover-content-mobile {
            display: block;
            opacity: 1;
            visibility: visible;
            position: relative;
            width: 100%;
            margin-top: 10px;
            text-align: left;
        }
    
        .acf-box.active .acf-hover-content-mobile {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    .acf-hover-content-mobile {
        display: none;
    }
}
