.cta {
    background-color: var(--col-orange-400);
    .h2 {
        color: var(--col-white);
    }
}
.cta-inline {
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding-inline: 2rem;
    text-align: center;
}