.feat-slider {
    /*.slick-prev {
        left: -50px;
        }
    .slick-next {
        right: -50px;
        }
    .slick-dots {
        left: 45px;
        justify-content: flex-start;
        gap: 4px;
        li {
            margin: 0 2px;
        }
    }*/
    /*.replace-text {
        color: var(--col-white);
        font-size: 95px;
        span {
            margin-left: 0.5rem;
            i {
                padding-left: 1.5rem;
                &::before {
                    position: absolute;
                    width: 0.9em; // Match the text size dynamically
                    height: 0.9em; // Keep proportions
                    background-image: url(../img/R-word-white.svg);
                }
            }
        }
    }*/
    .feat-slide {
        background-color: var(--col-black);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 600px;
        /*padding-left: 40px;
        padding-right: 40px;*/
        padding-bottom: 160px!important;
        padding-top: 100px!important;
        color: var(--col-white);
        margin: 0 auto;
        margin-bottom: 0;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
        &.hero--short {
            height: auto;
            padding-bottom: 1rem;
        }
        .hero-content {
            width: calc(100% - 17%);
            margin: auto;
        }
        .hero-intro {
            max-width: 700px;
        }
        // background-size: min(80vw,490px) auto;
        // background-repeat: no-repeat;
        // background-position: 90% 90%;
        position: relative;
        isolation: isolate;
        overflow: clip;
        h1 {
            font-size: var(--fs-800);
            text-transform: uppercase;
            strong {
                font-size: 130px;
            }
        }
        h2 {
            font-size: var(--fs-800);
            text-transform: uppercase;
            strong {
                font-size: 130px;
            }
        }
        &__bg {
            position: absolute;
            bottom: 1rem;
            right: 1rem;

            left: 1rem;
            margin-inline: auto;

            @media (min-width:768px) {
                left: unset;
            }

            width: min(80vw, 490px);
            z-index: -1;
            max-height: 200px;
            max-width: max-content;
        }
    }
}