.four_cards {
    h3 {
        position: relative;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        &::after {
            content: "";
            position: absolute;
            width: 6rem;
            border-bottom: 1px solid var(--col-blue-900);
            bottom: 0;
            left: 0;
        }
    }
}