body main>section.hero-slider {
    padding-top: 0!important;
}
.hero-slide {
    background-color: var(--col-black);
    min-height: 600px;
    padding-bottom: 120px!important;
    padding-top: 150px!important;
    color: var(--col-white);
    margin: 0 auto;
    margin-bottom: 0;
    .hero-content {
        width: calc(100% - 17%);
        margin: auto;
    }
    &.hero--short {
        height: auto;
        padding-bottom: 1rem;
    }
    // background-size: min(80vw,490px) auto;
    // background-repeat: no-repeat;
    // background-position: 90% 90%;
    position: relative;
    isolation: isolate;
    overflow: clip;
    h1 {
        font-size: var(--fs-800);
        text-transform: uppercase;
    }
    h2 {
        font-size: var(--fs-800);
        text-transform: uppercase;
    }
    .replace-text {
        font-size: 95px;
        color: var(--col-white);
        span {
            margin-left: 0.5rem;
            i {
                padding-left: 1.5rem;
                &::before {
                    position: absolute;
                    width: 0.9em; // Match the text size dynamically
                    height: 0.9em; // Keep proportions
                    background-image: url(../img/R-word-white.svg);
                }
            }
        }
    }
    &__bg {
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        left: 1rem;
        margin-inline: auto;

        @media (min-width:768px) {
            left: unset;
        }

        width: min(80vw, 490px);
        z-index: -1;
        max-height: 200px;
        max-width: max-content;
    }
}