.latest_cs {
    &__card {
        display: grid;
        gap: 0.5rem;
        grid-template-rows: auto 1fr 1.2rem;
        height: 100%;
        background-color: var(--col-white);
        padding: 1rem;
        border-radius: 1rem; // outer radius = inner radius + padding
        box-shadow: var(--shadow-out);
        color: var(--col-green-400);
        transition: box-shadow var(--transition), transform var(--transition);
        font-weight: var(--fw-700);
        text-wrap: balance;
        &:hover {
            color: var(--col-green-400);
            box-shadow: var(--shadow-in);
            transform: translateY(2px);
        }
        img {
            display: block;
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    }
}