.numbered-cols {
    width: calc(100% - 10%);
    margin: auto;
    padding-top: 100px;
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .card {
        background: linear-gradient(to bottom, var(--col-dark), rgba(102, 51, 153, 0));
        color: white;
        text-align: center;
        border: none;
        border-radius: 20px;
        width: 250px;
        padding-top: 60px;
        position: relative;
    }
    .card-number {
        font-size: 15rem;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -130px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        text-align: center;
        color: transparent; /* Hide the default text */
    }
    
    .card-number::after {
        content: attr(data-number); /* Displays the number dynamically */
        font-size: 15rem;
        font-weight: bold;
        position: absolute;
        color: transparent;
        background: linear-gradient(to bottom, #663399, rgba(102, 51, 153, 0)); /* Matches the card */
        -webkit-background-clip: text;
        background-clip: text;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    
    .card-text {
        font-size: 1.2rem;
        padding-top: 100px;
        text-align: left;
    }
    .highlight {
        font-weight: bold;
    }
}