.header,
header {

    &__logo {
        max-width: 160px;
        object-fit: contain;
    }

    #wrapper-navbar {
        transition: top 300ms ease;
        top: 0;
    }
    &.hidden {
        #wrapper-navbar {
            top: -130px;
        }
    }

   .prenav {
        background-color: var(--col-green-400);
        font-size: var(--fs-350);
        width: 100%;
        a {
            color: white;
        }
        padding-block: 0.5rem;
        .container-xl {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
   }

   #navbar {
    padding-block: 1rem;
    background-color: var(--col-grey-400);
    a.nav-link {
        font-family: var(--ff-body);
        // text-transform: uppercase;
        font-weight: var(--fw-700);
        font-size: var(--fs-350);
    }
   }

   @media (max-width: 768px) {
       .dropdown-item {
            white-space: wrap;
       }
   }

   .dropdown-toggle.nav-link.show {
    text-align: center;
   }
}