.cta-sidebar {
    position: sticky;
    top: var(--h-top);
    top: 5rem;

    display: block;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--col-grey-400);
    text-align: center;
    color: var(--col-green-400);
    box-shadow: var(--shadow-in);
    transition: box-shadow var(--transition), transform var(--transition);
}