/* Lato Light - latin */
@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/lato-v24-latin-300.woff2') format('woff2');
}

/* Lato Regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2');
}

/* Lato Black - latin */
@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2');
}

html {
    font-size: 18px;
}

body {
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
    font-size: var(--fs-200);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4  {
    font-family: var(--ff-headings);
    //text-wrap: balance;
    font-weight: var(--fw-900);
    color: var(--col-white);
}

h1, .h1 {
    font-size: var(--fs-700);
    line-height: var(--lh-900);
}

h2, .h2 {
    font-size: var(--fs-700);
    line-height: var(--lh-800);
}
h3, .h3 {
    font-size: var(--fs-600);
    line-height: var(--lh-700);
}
h4, .h4 {
    font-size: var(--fs-500);
    line-height: var(--lh-700);
}

.fw-700,
strong {
    font-weight: var(--fw-900);
}

.w-short {
    max-width: 65ch;
}

.fs-800 {
    font-size: var(--fs-800);
}
.fs-400 {
    font-size: var(--fs-400);
}
.has-medium-font-size,
.fs-500 {
    font-size: var(--fs-500);
}

.fs-300 {
    font-size: var(--fs-300);
}
